<launch>

  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
	<arg name="map_file" value="/home/ubuntu/turtlebot_ws/src/turtlebot_demos/maps/office_map.yaml" />
  </include>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
  </include>
  <include file="$(find kobuki_auto_docking)/launch/coffeebot.launch">
  </include>

  <node name="get_pose" pkg="turtlebot_demos" type="get_pose" output="screen" launch-prefix="xterm -e" />
  <node name="set_pose" pkg="turtlebot_demos" type="set_pose" output="screen" launch-prefix="xterm -e" />
  <node name="autodocking" pkg="turtlebot_demos" type="autodocking.py" output="screen" launch-prefix="xterm -e" respawn="true" /> 

  <machine name="ai2" address="ai2@192.168.1.7" user="ai2" env-loader="/opt/ros/indigo/env.sh" />
  	<node machine="ai2" name="view_navigation" pkg="turtlebot_rviz_launchers" type="view_navigation.launch" output="screen" launch-prefix="xterm -e" />

</launch>
